.green {
    font-weight: bold;
    color: rgb(28, 136, 28);
}

.red {
    font-weight: bold;
    color: rgb(194, 35, 35);
}

.blue {
    font-weight: bold;
    color: rgb(30, 30, 230);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    padding: 7px 14px;
}

.footer {
    width:100%;
    background-color: black;
}

.react-spinner {
    margin-top: 75px;
}